<div class="container">
  <h2 class='title'>Get Your Reddit Read On</h2>
  <img src="http://localhost:4200/public/assets/images/reddit_logo.png" alt="reddit-logo">


  <nav>
    {{#link-to 'posts' 'emberjs'}}Ember{{/link-to}} |
    {{#link-to 'posts' 'javascript'}}JavaScript{{/link-to}} |
    {{#link-to 'posts' 'rubyonrails'}}Ruby on Rails{{/link-to}} |
    {{#link-to 'posts' 'funny'}}Funny{{/link-to}} |
    {{#link-to 'posts' 'leagueoflegends'}}League of Legends{{/link-to}} |
  </nav>
</div>
{{outlet}}
